@model RMS_API.DTOs.RoomLlUpdateDTO

@{
    ViewData["Title"] = "Cập nhật phòng";
}
@{
    var buildingId = ViewBag.BuildingId; // Lấy BuildingId từ phòng đầu tiên, nếu có
}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RMS</title>
    <link rel="shortcut icon" type="image/png" href="~/images/logos/favicon.png" />
    <link rel="stylesheet" href="~/css/styles.min.css" />

    <!-- Custom CSS Styles -->
    <style>

        button:disabled {
            cursor: not-allowed; /* Chỉ thị con trỏ không thể nhấn */
            opacity: 0.5; /* Làm nút mờ đi */
        }


        /* CSS for AddBuilding Form */
        .container {
            max-width: 600px;
            padding: 20px;
            background-color: #f9f9f9;
            border-radius: 8px;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
        }

        h1 {
            text-align: center;
            color: #333;
            font-weight: bold;
            margin-bottom: 20px;
        }

        .form-group {
            margin-bottom: 15px;
        }

            .form-group label {
                font-weight: bold;
                color: #555;
            }

        .form-control {
            padding: 10px;
            font-size: 16px;
            border-radius: 4px;
            border: 1px solid #ccc;
        }

            .form-control:focus {
                border-color: #007bff;
                box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
            }

        .btn-primary, .btn-secondary {
            width: 100%;
            padding: 10px;
            font-size: 16px;
            margin-top: 10px;
            border-radius: 4px;
        }

        .btn-primary {
            background-color: #007bff;
            border: none;
        }

            .btn-primary:hover {
                background-color: #0056b3;
            }

        .btn-secondary {
            background-color: #6c757d;
            border: none;
        }

            .btn-secondary:hover {
                background-color: #5a6268;
            }



        /* Sidebar styling */
        .sidebar-submenu {
            padding-left: 15px;
            display: none;
        }

        .sidebar-sublink {
            color: #6c757d;
            font-size: 0.9rem;
            transition: color 0.3s;
        }

            .sidebar-sublink:hover {
                color: #0d6efd;
            }

        /* Sidebar arrow rotation */
        .rotate {
            transform: rotate(180deg);
            transition: transform 0.3s;
        }

        /* Table styling */
        .table-striped tbody tr:nth-of-type(odd) {
            background-color: rgba(0, 0, 0, 0.05);
        }

        /* Button styles */
        .btn-primary {
            background-color: #0d6efd;
            border-color: #0d6efd;
        }

        .btn-warning {
            background-color: #ffc107;
            border-color: #ffc107;
        }

        /* Page wrapper styles */
        .page-wrapper {
            display: flex;
        }

        /* Main content area padding */
        .body-wrapper {
            /* padding: 20px; */
            flex-grow: 1;
        }

        /* Header navbar icon */
        .nav-icon-hover {
            cursor: pointer;
        }

        /* Profile image in dropdown */
        .navbar-nav .dropdown-menu img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }

    </style>
</head>
<body>
    <script>
        function getCookie(name) {
            const cookieString = document.cookie.split('; ').find(row => row.startsWith(`${name}=`));
            return cookieString ? decodeURIComponent(cookieString.split('=')[1]) : null;
        }

        const token = getCookie('AuthToken');
        if (!token) {
            console.error('Token không tìm thấy trong cookie.');
        }
        const tokenParts = token.split('.');
        const payload = JSON.parse(atob(tokenParts[1]));
        if (payload.Roles !== "Landlord") {
            window.location.href = "/Auth/login";
        }

        function logout() {
            document.cookie = "AuthToken=; path=/; expires=Sun, 01 Jan 1111 00:00:00 UTC; SameSite=None; Secure";
            window.location.href = "/Auth/Login";
        }
    </script>
    <!--  Body Wrapper -->
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
         data-sidebar-position="fixed" data-header-position="fixed">
        <aside class="left-sidebar">

            <div>
                <div class="brand-logo d-flex align-items-center justify-content-between">
                    <a asp-controller="Building" asp-action="ListBuilding" class="text-nowrap logo-img">
                        <img src="~/images/logo.jpg" width="180" alt="" />
                    </a>
                    <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
                        <i class="ti ti-x fs-8"></i>
                    </div>
                </div>

                <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
                    <ul id="sidebarnav">
                        <li class="nav-small-cap">
                            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                            <span class="hide-menu">Trang chủ</span>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-controller="Building" asp-action="ListBuilding">
                                <span><i class="ti ti-layout-dashboard"></i></span>
                                <span class="hide-menu">Trang chủ</span>
                            </a>
                        </li>
                        <li class="nav-small-cap">
                            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                            <span class="hide-menu">Quản lý</span>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="#" aria-expanded="false" onclick="toggleSubmenu(event)">
                                <span><i class="ti ti-home"></i></span>
                                <span class="hide-menu">Quản lý phòng</span>
                                <span><i class="ti ti-chevron-down"></i></span>
                            </a>
                            <ul class="sidebar-submenu" style="display: block; list-style-type: none; padding-left: 20px;">
                            </ul>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-controller="Facility" asp-action="ListFacility" aria-expanded="false">
                                <span>
                                    <i class="fa-solid fa-gears"></i>
                                </span>
                                <span class="hide-menu">Cơ sở vật chất</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-controller="Service" asp-action="ListService" aria-expanded="false">
                                <span>
                                    <i class="ti ti-menu"></i>
                                </span>
                                <span class="hide-menu">Dịch vụ</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-controller="Service" asp-action="ServiceRecord" aria-expanded="false">
                                <span>
                                    <i class="fa-solid fa-bolt"></i>
                                </span>
                                <span class="hide-menu"> <i class="fa-solid fa-plug-circle-bolt"></i> Chỉ số điện</span>
                            </a>
                        </li>

                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-controller="Maintainance" asp-action="ListMaintainance" aria-expanded="false">
                                <span>
                                    <i class="fa-regular fa-envelope"></i>
                                </span>
                                <span class="hide-menu"> Danh sách báo cáo</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-controller="Statistic" asp-action="ViewStatistic" aria-expanded="false">
                                <span>
                                    <i class="fa fa-bar-chart"></i>
                                </span>
                                <span class="hide-menu"> Thống kê phòng</span>
                            </a>
                        </li>
                    </ul>

                </nav>

            </div>

        </aside>
        <!--  Sidebar End -->
        <!--  Main wrapper -->
        <div class="body-wrapper">
            <!--  Header Start -->
            <header class="app-header" style="background-color:whitesmoke">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <ul class="navbar-nav">
                        <li class="nav-item d-block d-xl-none">
                            <a class="nav-link sidebartoggler nav-icon-hover" id="headerCollapse" href="javascript:void(0)">
                                <i class="ti ti-menu-2"></i>
                            </a>
                        </li>
                        <li class="nav-item d-flex align-items-center" " >
                            <a class="nav-link nav-icon-hover" asp-controller="Room" asp-action="ListRoom" asp-route-buildingId="@buildingId">
                                <i class="ti ti-arrow-back" style="font-size: 30px;"></i>
                            </a>

                            <a class="nav-link nav-icon-hover" href="javascript:void(0)">
                                <i class="ti ti-bell-ringing"></i>
                                <div class="notification bg-primary rounded-circle"></div>
                            </a>
                        </li>
                    </ul>
                    <div class="navbar-collapse justify-content-end px-0" id="navbarNav">
                        <ul class="navbar-nav flex-row ms-auto align-items-center justify-content-end">
                            <li class="nav-item dropdown">
                                <a class="nav-link nav-icon-hover" href="javascript:void(0)" id="drop2" data-bs-toggle="dropdown"
                                   aria-expanded="false">
                                    <img src="~/images/profile/user-1.jpg" alt="" width="50" height="50" class="rounded-circle">
                                </a>
                                <div class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up" aria-labelledby="drop2">
                                    <div class="message-body">
                                        <a href="javascript:void(0)" class="d-flex align-items-center gap-2 dropdown-item">
                                            <i class="ti ti-user fs-6"></i>
                                            <p class="mb-0 fs-3">My Profile</p>
                                        </a>
                                        <a href="javascript:void(0)" class="d-flex align-items-center gap-2 dropdown-item">
                                            <i class="ti ti-mail fs-6"></i>
                                            <p class="mb-0 fs-3">My Account</p>
                                        </a>
                                        <a href="javascript:void(0)" class="d-flex align-items-center gap-2 dropdown-item">
                                            <i class="ti ti-list-check fs-6"></i>
                                            <p class="mb-0 fs-3">My Task</p>
                                        </a>
                                        <a href="/Auth/Login" class="btn btn-outline-primary mx-3 mt-2 d-block " onclick="logout()">Đăng xuất</a>

                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </header>
            <!--  Header End -->
            <div class="container-fluid">
                <div class="container mt-4">
                    <h1>@ViewData["Title"]</h1>

                    <form asp-action="EditRoom" method="post" id="editRoomForm">

                        <input type="hidden" id="BuildingId" name="BuildingId" value="@Model.BuildingId" />

                        <div class="form-group row">
                            <label class="col-sm-3 fw-bold text-end align-middle" for="RoomNumber">Tên Phòng</label>
                            <div class="col-sm-9">
                                <input asp-for="RoomNumber" class="form-control" id="RoomNumber" name="RoomNumber" required />
                                <span class="error-message" id="roomNumberError" style="color: red; display: none;">Tên phòng đã tồn tại trong tòa nhà này.</span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-3 fw-bold text-end align-middle" for="Price">Giá Phòng</label>
                            <div class="col-sm-9">
                                <input step="0.01" asp-for="Price" class="form-control" id="Price" name="Price" value="@Model.Price.ToString("0.#")" required />
                                <span class="error-message" id="priceError" style="color: red; display: none;">Giá Phòng phải là một số dương</span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-3 fw-bold text-end align-middle" for="Area">Diện tích</label>
                            <div class="col-sm-9">
                                <input asp-for="Area" class="form-control" id="Area" name="Area" required />
                                <span class="error-message" id="areaError" style="color: red; display: none;">Diện tích phải là một số dương.</span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-3 fw-bold text-end align-middle" for="Floor">Tầng</label>
                            <div class="col-sm-9">
                                <input asp-for="Floor" class="form-control" id="Floor" name="Floor" required />
                                <span class="error-message" id="floorError" style="color: red; display: none;">Số Tầng phải là một số nguyên dương.</span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-3 fw-bold text-end align-middle" for="Description">Mô tả phòng</label>
                            <div class="col-sm-9">
                                <textarea asp-for="Description" class="form-control" rows="3" placeholder="Enter room description"></textarea>
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-3 fw-bold text-end align-middle" for="StartedDate">Ngày bắt đầu thuê</label>
                            <div class="col-sm-9">
                                <input asp-for="StartedDate" class="form-control" type="date" />
                                <span asp-validation-for="StartedDate" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-3 fw-bold text-end align-middle" for="ExpiredDate">Ngày hết hạn phòng</label>
                            <div class="col-sm-9">
                                <input asp-for="ExpiredDate" class="form-control" type="date" />
                                <span asp-validation-for="ExpiredDate" class="text-danger"></span>
                                <span class="error-message" id="dateError" style="color: red; display: none;">Ngày hết hạn phải sau ngày bắt đầu thuê</span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-3 fw-bold text-end align-middle" for="FreeInFutureDate">Ngày Phòng sẽ trống trong tương lai</label>
                            <div class="col-sm-9">
                                <input asp-for="FreeInFutureDate" class="form-control" type="date" />
                                <span asp-validation-for="FreeInFutureDate" class="text-danger"></span>
                                <span class="error-message" id="dateError2" style="color: red; display: none;">Ngày Phòng sẽ trống sẽ phải sau hoặc cùng ngày hết hạn phòng</span>
                            </div>
                        </div>


                        <div class="form-group row">
                            <label class="col-sm-3 fw-bold text-end align-middle" for="RoomStatusId">Trạng thái phòng</label>
                            <div class="col-sm-9">
                                <select asp-for="RoomStatusId" asp-items="ViewBag.RoomStatuses" class="form-select">
                                </select>
                                <span asp-validation-for="RoomStatusId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <input type="submit" class="btn btn-primary w-100" id="buttonSave" value="Lưu thay đổi"></input>
                            <span class="error-message" id="submitError" style="color: red; display: none;">Thông tin nhập không hợp lệ, vui lòng kiểm tra lại !!!</span>
                        </div>
                    </form>

                </div>
            </div>

        </div>
    </div>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="~/lib/simplebar/dist/simplebar.js"></script>

    <script>

        // Kiểm tra giá trị nhập vào của các trường ngay khi người dùng gõ
        document.getElementById('Price').addEventListener('input', function () {
            validatePrice();
        });

        document.getElementById('Floor').addEventListener('input', function () {
            validateFloor();
        });

        document.getElementById('Area').addEventListener('input', function () {
            validateArea();
        });

        document.getElementById('StartedDate').addEventListener('change', function () {
            validateDate();
        });

        document.getElementById('ExpiredDate').addEventListener('change', function () {
            validateDate();
        });

        document.getElementById('FreeInFutureDate').addEventListener('change', function () {
            validateDate2();
        });

        const submitError = document.getElementById('submitError');

        // Hàm validate cho từng trường
        function validatePrice() {
            const price = document.getElementById('Price').value;
            const priceError = document.getElementById('priceError');
            if (isNaN(price) || parseFloat(price) <= 0) {
                priceError.style.display = 'inline';
                document.getElementById('buttonSave').disabled = true;
                submitError.style.display = 'inline';
            } else {
                priceError.style.display = 'none';
                document.getElementById('buttonSave').disabled = false;
                submitError.style.display = 'none';
            }
        }

        function validateFloor() {
            const floor = document.getElementById('Floor').value;
            const floorError = document.getElementById('floorError');
            if (isNaN(floor) || parseInt(floor) <= 0 || !Number.isInteger(parseFloat(floor))) {
                floorError.style.display = 'inline';
                document.getElementById('buttonSave').disabled = true;
                submitError.style.display = 'inline';
            } else {
                floorError.style.display = 'none';
                document.getElementById('buttonSave').disabled = false;
                submitError.style.display = 'none';
            }
        }

        function validateArea() {
            const area = document.getElementById('Area').value;
            const areaError = document.getElementById('areaError');
            if (isNaN(area) || parseFloat(area) <= 0) {
                areaError.style.display = 'inline';
                document.getElementById('buttonSave').disabled = true;
                submitError.style.display = 'inline';
            } else {
                areaError.style.display = 'none';
                document.getElementById('buttonSave').disabled = false;
                submitError.style.display = 'none';
            }
        }

        function validateDate() {
            const startedDate = document.getElementById('StartedDate').value;
            const expiredDate = document.getElementById('ExpiredDate').value;
            const dateError = document.getElementById('dateError');

            if (startedDate && expiredDate) {
                if (new Date(expiredDate) < new Date(startedDate)) {
                    dateError.style.display = 'inline';
                    dateError.textContent = 'Ngày hết hạn phải sau ngày bắt đầu thuê';
                    document.getElementById('buttonSave').disabled = true;
                    submitError.style.display = 'inline';
                } else {
                    dateError.style.display = 'none';
                    document.getElementById('buttonSave').disabled = false;
                    submitError.style.display = 'none';
                }
            }
        }

        function validateDate2() {
            const freeInFutureDate = document.getElementById('FreeInFutureDate').value;
            const expiredDate = document.getElementById('ExpiredDate').value;
            const dateError2 = document.getElementById('dateError2');

            if (freeInFutureDate && expiredDate) {
                if (new Date(freeInFutureDate) < new Date(expiredDate)) {
                    dateError2.style.display = 'inline';
                    dateError2.textContent = 'Ngày Phòng sẽ trống sẽ phải sau hoặc cùng ngày hết hạn phòng';
                    document.getElementById('buttonSave').disabled = true;
                    submitError.style.display = 'inline';
                    return;
                } else {
                    dateError2.style.display = 'none';
                    document.getElementById('buttonSave').disabled = false;
                    submitError.style.display = 'none';
                }
            }
        }

        document.getElementById('RoomNumber').addEventListener('blur', async function () {
            const roomName = document.getElementById("RoomNumber").value;
            const buildingId = document.getElementById('BuildingId').value;
            const oldRoomName = '@Model.RoomNumber';  // Lấy tên phòng cũ từ model

            // Nếu tên phòng chưa thay đổi, không cần kiểm tra lại
            if (roomName === oldRoomName) {
                document.getElementById('roomNumberError').style.display = 'none';
                document.getElementById('buttonSave').disabled = false;
                submitError.style.display = 'none';
                return;  // Không làm gì nếu tên phòng không thay đổi
            }

            const response = await fetch(`/api/Room/CheckRoomNameExists?roomName=${roomName}&buildingId=${buildingId}`);
            const roomExists = await response.json();

            const roomNumberError = document.getElementById('roomNumberError');
            if (roomExists) {
                roomNumberError.style.display = 'inline';
                roomNumberError.textContent = 'Tên Phòng đã tồn tại trong tòa nhà này';
                document.getElementById('buttonSave').disabled = true;
                submitError.style.display = 'inline';
                return;
            } else {
                roomNumberError.style.display = 'none';
                document.getElementById('buttonSave').disabled = false;
                submitError.style.display = 'none';
            }
        });

        // Kiểm tra khi submit form
        document.getElementById('editRoomForm').addEventListener('submit', function (event) {
            validatePrice();
            validateFloor();
            validateArea();
            validateDate();
            validateDate2();

            // Nếu có lỗi, ngăn form submit
            if (document.querySelectorAll('.error-message[style="display: inline;"]').length > 0) {
                event.preventDefault();
            }
        });

        $(document).ready(function () {
            loadBuilding();
        })

        //---------------------------------------------------------------
        //Lấy List Building ở Left Side
        //Lấy UserId
        function getUserIdFromToken(token) {
            try {
                const tokenParts = token.split('.');
                const payload = JSON.parse(atob(tokenParts[1]));
                return payload.UserId;
            } catch (error) {
                console.error("Không mã hóa đc token:", error);
                return null;
            }
        }

        function loadBuilding() {
            const token = getCookie('AuthToken');
            if (!token) {
                alert('Bạn chưa đăng nhập. Xin hãy quay lại trang login.');
                window.location.href = "/Auth/login";
                return;
            }
            var userId = getUserIdFromToken(token);
            $.ajax({
                url: `https://localhost:7056/api/Building/GetBuildingsByUserId/${userId}`,// Sửa api lấy all building thành api này
                type: 'GET',
                dataType: 'json',
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('Authorization', `Bearer ${token}`);
                },
                success: function (response) {
                    renderBuilding(response);
                    displayBuildings(response); //Thêm cái này nữa
                },
                error: function (xhr, status, error) {
                    console.error("Có lỗi xảy ra:", error);
                }
            });
        }

        function renderBuilding(data) {
            var urlParams = new URLSearchParams(window.location.search);
            var buildingId = urlParams.get('buildingId');
            let html = `<option value="-1" ${buildingId <= 0 ? 'selected' : ''}>Tất cả</option>`;
            for (var item of data) {
                html += `<option value="${item.id}" ${buildingId == item.id ? 'selected' : ''}>${item.name}</option>`
            }
            $("#buildings").html(html);
        }

        function displayBuildings(buildings) {
            const sidebarContainer = $('.sidebar-submenu');

            // Clear previous content
            sidebarContainer.empty();

            if (buildings && buildings.length > 0) {
                // Update Sidebar
                buildings.forEach(building => {
                    sidebarContainer.append(`
                                                                                        <li class="sidebar-subitem">
                                                                                            <a href="/Room/ListRoom?buildingId=${building.id}" class="sidebar-sublink">
                                                                                                        <i class="fa-solid fa-house" style="color: #0672e5;"></i> ${building.name}
                                                                                            </a>
                                                                                        </li>
                                                                                    `);
                });
            } else {
                displayNoBuildingsMessage();
            }
        }
        function displayNoBuildingsMessage() {
            const sidebarContainer = $('.sidebar-submenu');
            const tableContainer = $('#buildingsContainer');

            // Notify in Sidebar
            sidebarContainer.empty();
            sidebarContainer.append(`
                                                                                <li class="sidebar-subitem">Không có tòa nhà nào</li>
                                                                            `);
        }
        //Lấy UserId
        function getUserIdFromToken(token) {
            try {
                const tokenParts = token.split('.');
                const payload = JSON.parse(atob(tokenParts[1]));
                return payload.UserId;
            } catch (error) {
                console.error("Không mã hóa đc token:", error);
                return null;
            }
        }

    </script>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- Thêm Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Thêm jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Thêm Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>